/* 
#9A12B3
#BF55EC
#BE90D4
#8E44AD
#9B59B6
 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #34495e; }

.grid {
  display: grid;
  grid-template-columns: 1fr, min-content, 1fr;
  grid-template-rows: min-content; }

.home {
  grid-column: 2/3;
  grid-row: 1/-1;
  justify-self: center;
  align-self: center; }
  .home__item {
    font-size: 2.5rem;
    padding: 10rem 25rem;
    border-radius: 10%;
    margin: 20rem;
    border: 1px solid lightslategrey;
    justify-self: center;
    color: white;
    text-align: center; }
  .home__item > a {
    text-decoration: none;
    color: white;
    width: 40rem; }
  .home__web-development {
    background-color: #1F3A93; }
  .home__reiki {
    background-color: #D91E18; }
  .home__collectible-coins {
    background-color: #913D88; }
